
/* CSS Document */

#header {
    background: none repeat scroll 0 0 #000000;
}

.green {
    color: green !important;
}
.strong {
    font-weight: bold;
}
.view-box {
    background: #ffffff none repeat scroll 0 0;
    border-left: 5px solid #494747;
    color: #494747;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
    padding: 20px;
}
.item-box {
    border-bottom: 1px dotted #dddddd;
    overflow: hidden;
    padding: 20px 0 40px;
}

#info {
	padding-top:30px;
}
.abs {
    position: absolute;
}

.h3, h3 {
    font-size: 24px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-bottom: 10px;
    margin-top: 20px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}
.clear5 {
    clear: both;
    height: 5px;
    width: 100%;
}

a:active, a:hover {
    text-decoration: none;
}
.container .thumbnail-img {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.24);
    box-sizing: border-box;
    color: #eee;
    padding: 10px;
}
.container .thumbnail-img a {
    color: #eee;
}
.tcenter {
    text-align: center;
}

.container .thumbnail {
    color: #eee;
}

.fleft {
    float: left;
}
.fright {
    float: right;
}

.tools-footer {
    background-color: #2a2730;
    color: #99979c;
    margin-top: 100px;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
}
.tools-footer a {
    color: #fff;
}
.tools-footer-links {
    margin-bottom: 20px;
    padding-left: 0;
}
.tools-footer-links li {
    display: inline-block;
}
.tools-footer-links li + li {
    margin-left: 15px;
}
@media (min-width: 768px) {
.tools-footer {
    text-align: left;
}
.tools-footer p {
    margin-bottom: 0;
}
}

/* div块居中 */
.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

pre{margin:20px 0;font:13px/20px 'courier new';background:#272822;padding:10px 15px;color:#F8F8D4;border:none;word-wrap: break-word!important;white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;}

#footer a {
    color: #8C8C8C;
}
#footer, #footer a {
    color: #585858;
}

#footer span {
    padding: 0 5px;
}

#footer {
    background: url("http://tools.bugscaner.com/static/image/showcase_bg.png") repeat scroll 0 0 #111213;
    color: #585858;
    font-family: 'Proxima Nova Italic',"Segoe UI",Roboto,"Droid Sans","Helvetica Neue",Arial,sans-serif;
    font-size: 13px;
    padding: 15px 0 10px;
}


.whatweb-jumu-header {
  position: relative;
  padding: 30px 0;
  color: #cdbfe3;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  background-color: #6f5499;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#563d7c), to(#6f5499));
  background-image: -webkit-linear-gradient(top, #563d7c 0%, #6f5499 100%);
  background-image:      -o-linear-gradient(top, #563d7c 0%, #6f5499 100%);
  background-image:         linear-gradient(to bottom, #673baa 0%, #6f5499 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
  background-repeat: repeat-x;
}




