.search-box{
	float: left;
	width: 750px;
	height: 50px;
	box-sizing: border-box;
	border:solid 1px #00818a;
	overflow: hidden;
}
.search-box.bulk{
	height: 372px;
}
.search-input{
	float: left;
	width: 450px;
	height: 100%;
}

.search-left{
	float: left;
	width: 178px;
	height: 100%;
}

.search-left .select-style{
	float: left;
	width: 100%;
	height: 100%;
	padding: 0 10px;
	font-size: 15px;
    border: 0;
	border-right: solid 1px #00818a;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
}

.select-text{
	float: left;
	width: 100%;
	height: 100%;
	padding: 0 10px;
	line-height: 48px;
	color: #283149;
	box-sizing: border-box;
	border:none;
	outline: none;
}

.search-box.bulk .search-input{
	width: 100%;
	height: 320px;
}
.i-text{
	float: left;
	width: 100%;
	height: 100%;
	padding: 0 10px;
	line-height: 48px;
	font-size: 18px;
	color: #283149;
	box-sizing: border-box;
	border:none;
	outline: none;
}
.search-box.bulk .i-text{
	padding: 10px;
	height: 100%;
	line-height: 25px;
	font-size: 16px;
	resize: none;
}
.search-button{
	float: left;
	width: 120px;
	height: 100%;
	padding-left: 48px;
	padding-right: 18px;
	text-align: right;
	line-height: 48px;
	color: #FFF;
	font-size: 18px;
	border: 0;
	background-color: #00818a;
	box-sizing: border-box;
	background-image: url(../image/search.png);
	background-repeat: no-repeat;
	background-position: 18px 8px;
	cursor: pointer;
}
.search-box.bulk .search-button{
	width: 100%;
	height: 50px;
	text-align: center;
	padding-left: 350px;
	padding-right: 288px;
	background-position: 300px 8px;
}